In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.ticker as mtick
import arcpy

# Import the required ArcGIS API for Python modules
import arcgis
from arcgis.gis import GIS
from arcgis.geoanalytics import manage_data

from IPython.display import display, Markdown

In [12]:
#get root folder
dir_working = os.getcwd()
print(dir_working)

#define folders
dir_data     = os.path.join(dir_working, "data"        )
dir_process  = os.path.join(dir_working, "intermediate")
dir_results  = os.path.join(dir_working, "results"     )

AnalysisAreasInput = os.path.join(dir_data, r"CentersTOD.gdb\MaxCapacityAnalysisAreasCombined")
BaseParcels        = os.path.join(dir_data, r"parcels\Center01102019.gdb\BaseGP01102019"           )
CenterParcels      = os.path.join(dir_data, r"parcels\Center01102019.gdb\Center01102019"           )
Buildings          = os.path.join(dir_data, r"buildings.csv"                                       )

print(AnalysisAreasInput)

E:\GitHub\Centers-Capacity-Tool
E:\GitHub\Centers-Capacity-Tool\data\CentersTOD.gdb\MaxCapacityAnalysisAreasCombined

In [44]:
#Create Analysis Area Layer in Intermediate Files and Fill with a AAName that combines Name and TOD status

#name of new data features
ProcessGDB            = "process.gdb"
AnalysisAreas         = os.path.join(dir_process, ProcessGDB + "\AnalysisAreas")
AnalysisAreas_ByName  = os.path.join(dir_process, ProcessGDB + "\AnalysisAreas_ByName")
AnalysisAreas_ByLevel = os.path.join(dir_process, ProcessGDB + "\AnalysisAreas_ByLevel")


# Intermediate
phi = "_DeleteTemp"
deletefiles = []

deletefiles.append(AnalysisAreas)

def DeleteIntermediate():    
    for file in deletefiles:
        if arcpy.Exists(file):
            print ("Deleting Intermediate File: " + file + "...")
            arcpy.Delete_management(file)

            
sAAName  = "AnalysisAreaName" #field for calculated Analysis Area Name
sAALevel = "AnalysisAreaLevel" #field for calculated Analysis Area Level

#if processing geodatabase doesn't exist, create it
print("Checking if " + ProcessGDB + " exists...")
if not arcpy.Exists(os.path.join(dir_process, ProcessGDB)):
    print("Creating " + ProcessGDB + "...")
    arcpy.management.CreateFileGDB(dir_process, ProcessGDB)
else:
    print(ProcessGDB + " exists...")
    DeleteIntermediate() #delete any intermediate files

print ("Creating Analysis Input Area intermediate layer in " + ProcessGDB + "...")
arcpy.management.Copy(AnalysisAreasInput, AnalysisAreas)

deletefiles.append(AnalysisAreas) #keep tabs of created layers that need to be deleted if rerun

## Subroutines

print ("Adding " + sAAName + " field to " + AnalysisAreas + "...")
arcpy.AddField_management(AnalysisAreas, sAAName, "TEXT", 50)

#create calculated name for analysis areas combining center name and tod status
areaname_codeblock = """def createAreaName(centername, tod):
    if (centername!='' and tod == 'Yes'):
        return centername + ' and TOD'
    elif (centername=='' and tod == 'Yes'):
        return 'TOD Only'
    elif (centername!='' and tod == 'No'):
        return centername + ' and No TOD'
    elif (centername=='' and tod == 'No'):
        return 'No Name'"""

#create calculated level for analysis area combining center level and tod status
centerlevel_codeblock = """def createLevelName(centerlevel, tod):
    if (centerlevel!='' and tod == 'Yes'):
        return centerlevel + ' and TOD'
    elif (centerlevel=='' and tod == 'Yes'):
        return 'TOD'
    elif (centerlevel!='' and tod == 'No'):
        return centerlevel + ' and No TOD'
    elif (centerlevel=='' and tod == 'No'):
        return 'No Level'"""


print ("Calculating " + sAAName + " field")
arcpy.CalculateField_management(AnalysisAreas,
                                sAAName,
                                "createAreaName(!AreaName!,!QtrMileTS!)",
                                "PYTHON_9.3",
                                areaname_codeblock)
print ("Calculating " + sAALevel + " field")
arcpy.CalculateField_management(AnalysisAreas,
                                sAALevel,
                                "createLevelName(!CenterLevel!,!QtrMileTS!)",
                                "PYTHON_9.3",
                                centerlevel_codeblock)

arcpy.management.Dissolve(AnalysisAreas, AnalysisAreas_ByName,  sAAName)
arcpy.management.Dissolve(AnalysisAreas, AnalysisAreas_ByLevel, sAALevel)

#create csv shell for values

    
#arcpy.analysis.Union(in_features, out_feature_class, {join_attributes}, {cluster_tolerance}, {gaps})

Checking if process.gdb exists...
process.gdb exists...
Deleting Intermediate File: E:\GitHub\Centers-Capacity-Tool\intermediate\process.gdb\AnalysisAreas...
Creating Analysis Input Area intermediate layer in process.gdb...
Adding AnalysisAreaName field to E:\GitHub\Centers-Capacity-Tool\intermediate\process.gdb\AnalysisAreas...
Calculating AnalysisAreaName field
Calculating AnalysisAreaLevel field

In [ ]:
#lyrAnalysisAreasInput = r"in_memory\AnalysisAreasInput"
#lyrBaseParcels        = r"in_memory\BaseParcels"

#arcpy.MakeFeatureLayer_management(nameBaseParcels       , lyrBaseParcels)

#deletefiles.append(nameAnalysisAreasInput)
#deletefiles.append(nameAnalysisAreasInput)

In [1]:
#read in parcels
sdf_bPar = pd.DataFrame.spatial.from_featureclass(filenameBaseParcels)
#sdf_bPar

NameError: name 'os' is not defined

In [ ]:
TAZ_shp =

In [5]:
#set field for commercial, residential, or mixed


sdf_bPar['luType'] = ''

sdf_bPar.loc[(sdf_bPar['type1'] == 't') | (sdf_bPar['type2'] == 't'), 'luType'] = 'Res'
sdf_bPar.loc[((sdf_bPar['type1'] == 'f') &
              (sdf_bPar['type2'] == 'f')) &
             ((sdf_bPar['type3'] == 't') |
              (sdf_bPar['type4'] == 't') |
              (sdf_bPar['type5'] == 't') |
              (sdf_bPar['type6'] == 't')) &
              (sdf_bPar['type7'] == 'f') &
              (sdf_bPar['type8'] == 'f'), 'luType'] = 'Com'
sdf_bPar.loc[((sdf_bPar['type1'] == 't') |
              (sdf_bPar['type2'] == 't')) &
             ((sdf_bPar['type3'] == 't') |
              (sdf_bPar['type4'] == 't') |
              (sdf_bPar['type5'] == 't') |
              (sdf_bPar['type6'] == 't')), 'luType'] = 'Mix'
sdf_bPar.loc[((sdf_bPar['type7'] == 't')), 'luType'] = 'Mix'
sdf_bPar.loc[((sdf_bPar['type1'] == 'f') &
              (sdf_bPar['type2'] == 'f') &
              (sdf_bPar['type3'] == 'f') &
              (sdf_bPar['type4'] == 'f') &
              (sdf_bPar['type5'] == 'f') &
              (sdf_bPar['type6'] == 'f') &
              (sdf_bPar['type7'] == 'f') &
              (sdf_bPar['type8'] == 'f')), 'luType'] = 'NoD'
#

In [6]:
sdf_bPar

,OBJECTID,parcel_id,parcel_id_REMM,basebldg,Sliver,parcel_sqft,Split,x,y,parcel_acre,...,type6,type7,type8,max_height,Agriculture,NoBuild,redev_friction,note,SHAPE,luType
0,1,671124.0,671124.0,0.0,None,16203.648534,None,1.572705e+06,7.294321e+06,0.371986,...,f,f,f,999.0,0.0,NaN,NaN,None,"{""rings"": [[[1572658.531162396, 7294412.922931...",Com
1,2,588354.0,588354.0,0.0,None,49466.799191,None,1.572481e+06,7.293816e+06,1.135606,...,f,f,f,999.0,0.0,NaN,NaN,None,"{""rings"": [[[1572446.1962272525, 7294150.73555...",Com
2,3,664267.0,664267.0,1.0,None,27944.879802,None,1.571343e+06,7.291668e+06,0.641529,...,f,f,f,999.0,0.0,NaN,NaN,None,"{""rings"": [[[1571352.9701225907, 7291780.92202...",Com
3,4,632453.0,632453.0,1.0,None,15190.031848,None,1.580054e+06,7.303541e+06,0.348717,...,f,f,f,999.0,0.0,NaN,NaN,None,"{""rings"": [[[1579974.9191654772, 7303604.60588...",Res
4,5,632450.0,632450.0,1.0,None,10092.376514,None,1.580190e+06,7.303272e+06,0.231690,...,f,f,f,999.0,0.0,NaN,NaN,None,"{""rings"": [[[1580242.158429563, 7303338.493389...",Res
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845215,845216,601655.0,886696.0,0.0,None,137565.519929,1,1.573685e+06,7.220955e+06,3.158082,...,f,f,f,999.0,1.0,NaN,None,None,"{""rings"": [[[1573850.763353318, 7220743.714214...",Res
845216,845217,601655.0,886697.0,0.0,None,213243.313865,1,1.573302e+06,7.220958e+06,4.895412,...,f,f,f,999.0,1.0,NaN,None,None,"{""rings"": [[[1573537.6948660016, 7220743.71421...",Res
845217,845218,601655.0,886698.0,0.0,None,214262.868997,1,1.572836e+06,7.220958e+06,4.918818,...,f,f,f,999.0,1.0,NaN,None,None,"{""rings"": [[[1573072.201039672, 7220743.714214...",Res
845218,845219,601655.0,886699.0,0.0,None,55026.868822,1,1.572074e+06,7.220958e+06,1.263248,...,f,f,f,999.0,0.0,NaN,None,None,"{""rings"": [[[1572137.6125155538, 7220743.71421...",Res
845219,845220,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,...,None,None,None,NaN,NaN,NaN,None,None,None,

In [7]:
sdf_bPar_lutypeTotals = sdf_bPar.groupby(['luType']).agg({"parcel_id": [np.size],"parcel_acre": [np.sum]})
sdf_bPar_lutypeTotals

       parcel_id    parcel_acre
            size            sum
luType
             1.0       0.000000
Com      64445.0   87451.930725
Mix      32253.0   13073.830209
NoD      75484.0  284200.922445
Res     673037.0  396836.771592

In [8]:
sdf_bPar_luTypeEmpty = sdf_bPar.loc[(sdf_bPar['luType'] == '')]
sdf_bPar_luTypeEmpty

,OBJECTID,parcel_id,parcel_id_REMM,basebldg,Sliver,parcel_sqft,Split,x,y,parcel_acre,...,type6,type7,type8,max_height,Agriculture,NoBuild,redev_friction,note,SHAPE,luType
845219,845220,NaN,NaN,NaN,None,NaN,None,NaN,NaN,NaN,...,None,None,None,NaN,NaN,NaN,None,None,None,

In [9]:
sdf_bParProcessed = sdf_bPar[['parcel_id_REMM','parcel_acre','luType']]

In [10]:
sdf_bParProcessed

        parcel_id_REMM  parcel_acre luType
0             671124.0     0.371986    Com
1             588354.0     1.135606    Com
2             664267.0     0.641529    Com
3             632453.0     0.348717    Res
4             632450.0     0.231690    Res
...                ...          ...    ...
845215        886696.0     3.158082    Res
845216        886697.0     4.895412    Res
845217        886698.0     4.918818    Res
845218        886699.0     1.263248    Res
845219             NaN          NaN

[845220 rows x 3 columns]

In [11]:
#read in parcels with Center data - MAX DUA and MAX FAR
sdf_cPar = pd.DataFrame.spatial.from_featureclass(filenameCenterParcels)

In [12]:
sdf_cPar

,OBJECTID,parcel_id_REMM,max_dua,max_far,year,type1,type2,type3,type4,type5,type6,type7,type8,note,NoBuild,PolicyKey,SHAPE
0,1,671124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1572658.531162396, 7294412.922931..."
1,2,588354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1572446.1962272525, 7294150.73555..."
2,3,664267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1571352.9701225907, 7291780.92202..."
3,4,632453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1579974.9191654772, 7303604.60588..."
4,5,632450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1580242.158429563, 7303338.493389..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845214,845215,886695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1574478.0519851, 7220743.71421465..."
845215,845216,886696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1573850.763353318, 7220743.714214..."
845216,845217,886697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1573537.6948660016, 7220743.71421..."
845217,845218,886698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1573072.201039672, 7220743.714214..."
845218,845219,886699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1572137.6125155538, 7220743.71421..."

In [19]:
df_cParMax = sdf_cPar.groupby(['parcel_id_REMM']).agg({"max_dua": [np.max],"max_far": [np.max]})

#drop the second header row to allow ease of calcs
df_cParMax.columns = df_cParMax.columns.droplevel(1)

df_cParMax = df_cParMax.dropna(thresh=2) #drop rows with at least 2 NaNs

df_cParMax

                max_dua  max_far
parcel_id_REMM
7                  25.0     1.00
43                  0.0     0.41
486                 0.0     0.41
533                30.0     2.00
749                 0.0     0.41
...                 ...      ...
884406              0.0     0.41
884407              0.0     0.41
884408              0.0     0.41
884409              0.0     0.41
884410              0.0     0.41

[72503 rows x 2 columns]

In [14]:
#del sdf_cPar

In [15]:
df_cParMax

                amax  amax
parcel_id_REMM
7               25.0  1.00
43               0.0  0.41
486              0.0  0.41
533             30.0  2.00
749              0.0  0.41
...              ...   ...
884406           0.0  0.41
884407           0.0  0.41
884408           0.0  0.41
884409           0.0  0.41
884410           0.0  0.41

[72503 rows x 2 columns]

In [16]:
df_bldg = pd.read_csv(filenameBuildings)
df_bldg

,building_id,building_sqft,building_type_id,non_residential_sqft,note,parcel_id,residential_units,stories,unit_price_non_residential,year_built,res_price_per_sqft,job_spaces
0,65788,936.000000,1,0.0,base,487357,1,1,0.0,1963,99.449022,0
1,103580,762.000000,1,0.0,base,468869,1,1,0.0,1943,68.169291,0
2,122314,1254.356307,2,0.0,base,544735,1,1,0.0,2011,0.000000,0
3,154407,5422.000000,1,0.0,base,14751,1,1,0.0,1994,49.852453,0
4,154684,2626.000000,1,0.0,base,14619,1,1,0.0,1965,116.867940,0
...,...,...,...,...,...,...,...,...,...,...,...,...
667288,787129,15750.000000,6,15750.0,base,636187,0,1,0.0,2015,0.000000,45
667289,787130,22400.000000,6,22400.0,base,791614,0,1,0.0,2006,0.000000,64
667290,787131,56000.000000,6,56000.0,base,791466,0,1,0.0,2006,0.000000,160
667291,787132,7000.000000,6,7000.0,base,791298,0,1,0.0,2006,0.000000,20
667292,787133,2925.000000,3,2925.0,base,184032,0,1,0.0,1979,0.000000,3

In [17]:
df_bldg_summary = df_bldg.groupby(['parcel_id']).agg({"year_built": [np.max], "job_spaces": [np.sum], "residential_units":[np.sum], "res_price_per_sqft":[np.max], "unit_price_non_residential":[np.sum], "non_residential_sqft":[np.sum]})
df_bldg_summary.columns = df_bldg_summary.columns.droplevel(1)
df_bldg_summary

,year_built,job_spaces,residential_units,res_price_per_sqft,unit_price_non_residential,non_residential_sqft
parcel_id,,,,,,
44,1952,39,0,0.0,0.000000,14586.0
152,1951,0,1,0.0,0.000000,0.0
215,1979,260,0,0.0,0.000000,97240.0
278,1914,12,0,0.0,0.000000,4488.0
308,1948,14,0,0.0,0.000000,13650.0
...,...,...,...,...,...,...
871288,2007,0,1,0.0,0.000000,0.0
872441,1932,0,1,0.0,0.000000,0.0
875208,2014,0,1,0.0,0.000000,0.0
882712,1996,1,0,0.0,30.428571,350.0
883250,1958,4,0,0.0,0.000000,3900.0

In [18]:
df_bldg_summary.sum()

year_built                    1.218699e+09
job_spaces                    1.452228e+06
residential_units             7.768610e+05
res_price_per_sqft            6.641567e+08
unit_price_non_residential    1.524897e+06
non_residential_sqft          8.451795e+08
dtype: float64

In [21]:


# Find a feature layer named "Watersheds" in your ArcGIS Enterprise portal and apply a filter
watersheds = portal.content.search("Watersheds", "Feature Layer")
watersheds_layer = layer_result[0].layers[0]
watersheds_layer.filter = "region = 'Missouri'"

# Set the tool environment settings
arcgis.env.verbose = True
arcgis.env.defaultAggregations = True

# Run the Overlay Layers tool
overlay_result = manage_data.overlay_data(input_layer = grazing_land, 
                                          overlay_layer = watersheds_layer, 
                                          overlay_type = "Intersect", 
                                          output_name = "Watershed_intersections")

# Visualize the tool results if you are running Python in a Jupyter Notebook
processed_map = portal.map('Missouri', 6)
processed_map.add_layer(overlay_result)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)